.popUpContainer{
    border-radius:20px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:antiquewhite;
    padding: 0.7rem;
}

.popUpIsLarge{
    height: 90%;
    width: 90%;
}

.popUpIsMedium{
    height: 60%;
    width: 60%;
}

.popUpIsSmall{
    height: 30%;
    width: 30%;
}

@keyframes popUpFadeIn 
{
    from { 
        visibility: hidden;
        opacity: 0;
    }
    to { 
        visibility: visible;
        opacity: 1;
    }
}

@keyframes popUpFadeOut 
{
    from { 
        visibility: visible;
        opacity: 1;
    }
    to { 
        visibility: hidden;
        opacity: 0;
    }
}

.popUpFadeIn{
    animation: popUpFadeIn 0.5s ease-in-out;
    visibility: visible;
}

.popUpFadeOut{
    animation: popUpFadeOut 0.5s ease-in-out;
    visibility: hidden;
}
.popUpFirstLoad{
    visibility: hidden;
}

.closeBtn{
    position:absolute;
	right: 10px;
	top: 10px;
	z-index: 4; 
}