body 
{
	margin: auto;
    padding: 0.5rem;
    /* font-size: 1.2em; */
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:darkgrey;
    border-radius: 10px;
}

h3{
    color: blue;
}

.comment{
    color: green;
}

pre{
    display: inline-block;
    background-color:#222;
    color: yellow;
    border-style:groove;
    border-radius: 5px;
    padding: 1rem;
    overflow-x:auto;
    max-width: 90%;
}

.middle{
    display: block;
}


.heading{
    display: block;
    text-align: center;
    font-size: 4rem;
    color:blue;
    min-width: 100%;
}

.subHeading{
    display: block;
    text-align: center;
}


.red{
    border-radius: 6px;
    border-style: ridge;
    background-color: red;
    color:azure;
    padding: 5px;
    
}

.time{
    color:green;
    font-family: monospace;
    font-size: 2rem;
    font-weight: bold;
    
    padding: 0.2rem;
}

.timeBox{
    display: inline-block;
    background-color: #111111;
    margin: 1rem;
    border-radius: 6px;
    border-style:inset;
    border-color: aliceblue;
}

.timers{
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.timer{
    display: inline-block;
    margin: 1rem;
    background-color:cadetblue;
    padding: 1rem;
    border-radius: 5px;
}

.timerControl{
    width: 31%;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* width: 100%; */
    padding: 0.4rem;
    margin: auto;
}

.lapTime{
    display: block;
    width: 90%;
    height: 2.5rem;
    /* max-height: 2.5rem; */
    background-color:aliceblue;
    border-radius: 4px;
    overflow-y: scroll;
    margin: auto;

}

@media (min-width: 900px) {
	
    .main-container{
		width: 80%;
        max-width: 1280px;
        margin: auto;
	}

   
   	
}